html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* override groundZero.css */
@media (max-width: 768px) {
  button {
    margin: 0.3rem 0 !important;
  }
}

input {
  margin: 0 !important;
}

textarea {
  margin: 0 !important;
  padding: 0.9rem 1rem !important;
  resize: none;
}

input,
select,
textarea {
  font-size: 16px;
}

.row {
  padding: 0.5rem 0 !important;
}

/* General Helpers */

.float-lt {
  float: left;
}

.y-ctr {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flex {
  display: flex !important;
}

.flex-auto {
  flex: auto;
}

.just-ctr {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.no-pad {
  padding: 0 !important;
}
