.action-button {
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100%;
  background-color: #c4183c;
  color: #fff;
  transition: all 0.6s ease 0s;
}

.action-button:focus {
  outline: none
}

.action-button:hover {
  box-shadow: 0 0 0.6rem #c4183c;
}
