/* override groundZero h*'s */
h2,
h5 {
    margin-bottom: 0 !important;
}

.nav-container {
    border-bottom: 1px solid #212529;
}

/* height match on groundZero h1 */
.icon-main {
    margin: 0 1rem;
    height: 4rem;
    width: auto;
}

.subtitle {
    margin: 0 1rem;
    padding: 0 0 3px;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .subtitle {
        display: none;
    }
}
