/* Pulled from groundZero.css for input */

.category-drop-down {
  padding: 0 0 0 1rem;
  border: 1px solid #383a42;
  border-radius: 0.6rem;
  height: 3rem;
  width: 100%;
  min-width: 80%;
  background: transparent;
  color: #383a42;
  outline: none;
  transition: all 0.6s ease 0s;
}

.category-drop-down::placeholder {
  color: #383a42;
  opacity: 0.66;
}

.category-drop-down:focus {
  outline: none;
  border-color: #4078f2;
  box-shadow: 0 0 0.6rem #4078f2;
}

.heading {
  margin-top: 0 !important;
}

.content {
  height: 10rem;
}
