html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* General Helpers */

.float-lt {
  float: left;
}

.y-ctr {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flex {
  display: flex !important;
}

.flex-auto {
  flex: auto;
}

.no-pad {
  padding: 0 !important;
}
